@charset "UTF-8";
/* 雪碧图引入 同时设置宽高*/
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body, div {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 Microsoft YaHei, sans-serif;
  color: #333;
  outline: 0;
}

input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border: none;
}

body {
  background: #fff;
}

a, a:hover {
  color: #333;
}

div, body, p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

p {
  max-height: 13333.32rem;
}

/* flex 布局 */
.vh-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.vh-h-center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.vh-h-left {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: left;
  align-items: left;
}

.vh-left {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.vh-right {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.vh-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.icon_back {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -2.52rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.50667rem;
  height: 0.48rem;
}
.icon_correct {
	background: url(../images/icon.png) no-repeat;
	background-position: -9.22667rem -2.34667rem;
	background-size: 13.33333rem 13.33333rem;
	display: inline-block;
	width: 0.36rem;
	height: 0.34667rem;
	margin-right: 0.06667rem;
	position: relative;
	top: 0.04rem;
}
.icon_user {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -0.56rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.34667rem;
  height: 0.37333rem;
}

.icon_pwd {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 0;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.34667rem;
  height: 0.36rem;
}

.icon_qq {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem 0;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.33333rem;
  height: 1.33333rem;
}

.icon_wx {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -1.58667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.33333rem;
  height: 1.33333rem;
}

.icon_info {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -1.46667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.41333rem;
  height: 0.41333rem;
}

.icon_error {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -2.02667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.06667rem;
  position: relative;
  top: 0.04rem;
}

.icon_check.active {
  background: url("../images/icon.png") no-repeat;
  background-position: 0.02667rem -1rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.38667rem;
  height: 0.29333rem;
}

.icon_view {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -4rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.38667rem;
  height: 0.38667rem;
  margin-right: 0.13333rem;
  position: relative;
  top: 0.06667rem;
}

.icon_notice {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -4.73333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.33333rem;
  height: 0.28rem;
  margin-left: 0.04rem;
}

.icon_today {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -3.38667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.30667rem;
  height: 1.30667rem;
}

.icon_otherDay {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -5.42667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.30667rem;
  height: 1.30667rem;
}

.icon_contactUs {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -7.65333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.30667rem;
  height: 1.30667rem;
}

.icon_notes {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -9.94667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.30667rem;
  height: 1.30667rem;
}

.icon_close {
  background: url("../images/icon.png") no-repeat;
  background-position: -0.64rem -11.82667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.65333rem;
  height: 0.65333rem;
}

.icon_close_red {
  background: url("../images/icon.png") no-repeat;
  background-position: -4.17333rem -7.41333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.53333rem;
  height: 0.52rem;
}

.icon_radio {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -11.41333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
}

.input_group.active .icon_radio {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -10.22667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
}

.icon_index {
    background: url("../images/icon.png") no-repeat;
    background-position: -9.22667rem -3.36rem;
    background-size: 13.33333rem 13.33333rem;
    display: inline-block;
    width: 0.53333rem;
    height: 0.54667rem;
  }
  
  .item:hover .icon_index, .item.active .icon_index {
    background-position: 0 -5.41333rem;
  }

.icon_dev {
    background: url("../images/icon.png") no-repeat;
    background-position: 0 -6.38667rem;
    background-size: 13.33333rem 13.33333rem;
    display: inline-block;
    width: 0.50667rem;
    height: 0.48rem;
  }
  
  .item:hover .icon_dev, .item.active .icon_dev {
    background-position: -9.22667rem -5.21333rem;
  }

.icon_progress {
    background: url("../images/icon.png") no-repeat;
    background-position: 0 -7.41333rem;
    background-size: 13.33333rem 13.33333rem;
    display: inline-block;
    width: 0.48rem;
    height: 0.49333rem;
  }
  
  .item:hover .icon_progress, .item.active .icon_progress {
    background-position: -9.22667rem -6.97333rem;
  }

.icon_user {
    background: url("../images/icon.png") no-repeat;
    background-position: 0 -8.74667rem;
    background-size: 13.33333rem 13.33333rem;
    display: inline-block;
    width: 0.48rem;
    height: 0.54667rem;
  }
  
  .item:hover .icon_user, .item.active .icon_user {
    background-position: -9.22667rem -8.90667rem;
  }

.icon_taobao {
  background: url("../images/icon.png") no-repeat;
  background-position: -4.17333rem -4.88rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.26667rem;
  height: 1.26667rem;
}

.icon_order_today {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.46667rem -11.28rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.45333rem;
  height: 0.50667rem;
}

.icon_order_otherDay {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.46667rem -9.06667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.46667rem;
  height: 0.50667rem;
}

.icon_today_order {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -1.36rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.84rem;
  height: 0.93333rem;
}

.icon_notice_2 {
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -12.50667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.34667rem;
  height: 0.34667rem;
}

.icon_tomorrow_order {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -2.93333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.84rem;
  height: 0.93333rem;
}

.icon_car {
  background: url("../images/icon.png") no-repeat;
  background-position: -4.17333rem -10.98667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1rem;
  height: 0.86667rem;
}

.icon_audit {
  background: url("../images/icon.png") no-repeat;
  background-position: -4.17333rem -8.94667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.81333rem;
  height: 0.86667rem;
}

.icon_down {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -1.36rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.72rem;
  height: 0.86667rem;
}

.icon_anomaly {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -3rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.8rem;
  height: 0.88rem;
}

.icon_user_msg {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -4.38667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.92rem;
  height: 0.94667rem;
}

.icon_taobao_ww {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -5.93333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.86667rem;
  height: 0.90667rem;
}

.icon_money {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -7.82667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.93333rem;
  height: 0.89333rem;
}

.icon_ID {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -9.62667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.04rem;
  height: 0.89333rem;
}

.icon_safe {
  background: url("../images/icon.png") no-repeat;
  background-position: -2.33333rem -11.54667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.26667rem;
  height: 0.81333rem;
}

.icon_us {
  background: url("../images/icon.png") no-repeat;
  background-position: -4.17333rem -1.36rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.77333rem;
  height: 0.77333rem;
}

.icon_yes {
  background: url("../images/icon.png") no-repeat;
  background-position: -9.22667rem 0;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.17333rem;
  height: 1.17333rem;
}

.icon_ww {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -7.24rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.62667rem;
  height: 0.66667rem;
}

.icon_user_img {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -4.85333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.06667rem;
  height: 1.06667rem;
}

.icon_finance {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -8.86667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 1.08rem;
  height: 1.08rem;
}

.icon_wx_2 {
  background: url("../images/icon.png") no-repeat;
  background-position: -5.84rem -11.29333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.81333rem;
  height: 0.65333rem;
}

.icon_alipay {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.45333rem 0;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.76rem;
  height: 0.76rem;
}

.icon_unionpay {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.45333rem -1.34667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.84rem;
  height: 0.46667rem;
}

.icon_money_2 {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.45333rem -3.13333rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.77333rem;
  height: 0.77333rem;
}

.icon_radio_1 {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.45333rem -5.24rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
}

.active .icon_radio_1 {
  background: url("../images/icon.png") no-repeat;
  background-position: -7.45333rem -7.34667rem;
  background-size: 13.33333rem 13.33333rem;
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
}

.submit_btn {
  width: 8.53333rem;
  height: 1.06667rem;
  background-color: #f25f55;
  border-radius: 0.4rem;
  text-align: center;
  margin-top: 0.4rem;
  line-height: 1.06667rem;
}

input.disabled {
  background-color: #fff;
}

.text {
  font-size: 0.32rem;
  color: #a9a9aa;
}

.link {
  color: #f25f55;
}

.hide {
  display: none;
}

.text_center {
  text-align: center;
}

.text_lf {
  text-align: left;
}

.text_rt {
  text-align: right;
}

.lf {
  float: left;
}

.rt {
  float: right;
}

.hidden {
  overflow: hidden;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.dialog_body {
  background-color: #fff;
  width: 7.44rem;
  font-size: 0.37333rem;
  border-radius: 0.4rem;
  padding-bottom: 0.4rem;
}
.dialog_body .title {
  font-size: 0.46667rem;
  color: #ff8a01;
  border-bottom: 2px solid #dcdcdc;
  /*} @else{
      .iphone-data-dir-2 & ,.android-data-dir-2 & ,.other-data-dir-2 & {
          @each $v in $direction {
              @include border_dir_scale($px, $color, $v, 0.5);
          }
      }
      .iphone-data-dir-3 & ,.android-data-dir-3 & ,.other-data-dir-3 & {
          @each $v in $direction {
              @include border_dir_scale($px, $color, $v, 0.333);
          }
      }
  } */
  height: 0.93333rem;
  line-height: 0.93333rem;
}
.iphone-data-dir-2 .dialog_body .title {
  border-bottom: 1px solid #dcdcdc;
}
.iphone-data-dir-3 .dialog_body .title {
  border-bottom: 0.66667px solid #dcdcdc;
}
.android-data-dir-2 .dialog_body .title {
  border-bottom: 1px solid #dcdcdc;
}
.android-data-dir-3 .dialog_body .title {
  border-bottom: 0.66667px solid #dcdcdc;
}
.dialog_body .title .title_text {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.dialog_body .title .icon_close_red {
  margin-right: 0.4rem;
}
.dialog_body .dialog_section {
  line-height: 0.53333rem;
  min-height: 1.6rem;
  height: auto;
  font-size: 0.4rem;
  color: #000;
}
.dialog_body .dialog_section.dialog_alert {
  margin-top: 0.8rem;
}
.dialog_body .dialog_footer {
  margin-top: 0.93333rem;
  /* .ok{
      border-bottom-right-radius: rem(10);
      border-top-left-radius: rem(50);
      // @include solid(2px, #c9c9c9, left);
  }
  .cancle{
      border-radius: rem(7);
  } */
}
.dialog_body .dialog_footer .btn {
  border-radius: 0.09333rem;
  width: 1.69333rem;
  height: 0.74667rem;
  text-align: center;
  line-height: 0.74667rem;
  font-size: 0.32rem;
  margin: 0 0.26667rem;
}
.dialog_body .dialog_footer .btn.ok {
  background-color: #f25f55;
  color: #fff;
  border: 2px solid #f25f55;
}
.iphone-data-dir-2 .dialog_body .dialog_footer .btn.ok {
  border: 1px solid #f25f55;
}
.iphone-data-dir-3 .dialog_body .dialog_footer .btn.ok {
  border: 0.66667px solid #f25f55;
}
.android-data-dir-2 .dialog_body .dialog_footer .btn.ok {
  border: 1px solid #f25f55;
}
.android-data-dir-3 .dialog_body .dialog_footer .btn.ok {
  border: 0.66667px solid #f25f55;
}

.dialog_body .dialog_footer .btn.alertok {
  background-color: #f25f55;
  color: #fff;
  border: 2px solid #f25f55;
}
.iphone-data-dir-2 .dialog_body .dialog_footer .btn.alertok {
  border: 1px solid #f25f55;
}
.iphone-data-dir-3 .dialog_body .dialog_footer .btn.alertok {
  border: 0.66667px solid #f25f55;
}
.android-data-dir-2 .dialog_body .dialog_footer .btn.alertok {
  border: 1px solid #f25f55;
}
.android-data-dir-3 .dialog_body .dialog_footer .btn.alertok {
  border: 0.66667px solid #f25f55;
}

.dialog_body .dialog_footer .btn.cancle {
  color: #f25f55;
  background-color: #fff;
  border: 2px solid #f25f55;
}
.iphone-data-dir-2 .dialog_body .dialog_footer .btn.cancle {
  border: 1px solid #f25f55;
}
.iphone-data-dir-3 .dialog_body .dialog_footer .btn.cancle {
  border: 0.66667px solid #f25f55;
}
.android-data-dir-2 .dialog_body .dialog_footer .btn.cancle {
  border: 1px solid #f25f55;
}
.android-data-dir-3 .dialog_body .dialog_footer .btn.cancle {
  border: 0.66667px solid #f25f55;
}

.nav {
  background-color: #f7f7f7;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 1.41333rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 0.05333rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.05333rem rgba(0, 0, 0, 0.3);
}
.nav .item span {
  margin-top: 0.22667rem;
  font-size: 0.29333rem;
  color: #83868a;
}
.nav .item:hover span, .nav .item.active span {
  color: #ee574d;
}

.example {
  width: 100%;
  padding: 0.4rem;
  max-height: 12rem;
  overflow: auto;
}
.example p.title {
  font-size: 0.4rem;
}
.example p {
  color: #010101;
  font-size: 0.33333rem;
  line-height: 0.8rem;
  text-align: left;
}
.example img {
  margin-top: 0.8rem;
  width: 100%;
}
