<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><?php echo atitle();?></title>
    <link href="/css/root.css" rel="stylesheet">
</head>
<body>
{include file="common/header"/}
{include file="common/menu"/}

<div class="content">
    <div class="page-header">
        <h1 class="title">{$menu_name}</h1>
    </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/home.php/{$module}/{$control}/act_edit.html" class="form-horizontal" method="post" id="dx_form" autocomplete="off" enctype="multipart/form-data">
                    <div class="col-md-12">
                        <div class="panel panel-default" style="padding-top:15px;">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">开户银行</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="bank_name" value="{$find['bank_name']}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">收款人姓名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="realname" value="{$find['realname']}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">银行卡号</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="bankcode" value="{$find['bankcode']}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-3">
                                        <input type="hidden" class="form-control" name="id" value="{$find['id']}">
                                        <button type="button" class="btn btn-primary" id="sub">提交</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:history.back(-1)">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"/}
<script src="/js/dateCalendar/WdatePicker.js"></script>
<script type="text/javascript">
    $("#sub").on('click',function(){
        $('#addModal').hide();
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/{$module}/{$control}/act_edit.html',
            dataType:'text',
            data:$("#dx_form").serialize(),
            success:function(data)
            {
                if(data=='success'){
                    $("#tipBtn").click();
                    $("#tipText").html('修改成功');
                    setTimeout(function(){
                        window.history.go(-1);
                    },2000);
                }else{
                    $("#tipBtn").click();
                    $("#tipText").html(data);
                }
            }
        });
    });
</script>
</body>
</html>

