<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><?php echo atitle();?></title>
<link href="/css/root.css" rel="stylesheet">
</head>
<body>
{include file="common/header"/}
{include file="common/menu"/}

<div class="content">
    <?php if(empty($_GET['abc'])){?>
    <div class="page-header">
        <h1 class="title">{$menu_name}</h1>
    </div>
    <?php }?>
<div class="container-padding">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/home.php/{$module}/{$control}/lists.html" method="get" autocomplete="off">
                    <?php if(empty($_GET['abc'])){?>
                    <div class="col-sm-1">
                        <h5>微信昵称</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nickname" value="{$_GET['nickname']}">
                        </div>
                    </div>
                        <div class="col-sm-1">
                        <h5>任务ID</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="order_id" value="{$_GET['order_id']}">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <h5>红包类型</h5>
                        <div class="form-group">              
                            <select class="form-control" name="type">
                                <option value="">请选择</option>
                                <?php foreach($enum_type_arr as $k=>$v){?>
                                <option value="{$k}" <?php if($k==$_GET['type']){ echo 'selected';}?>>{$v}</option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
                        <div class="col-sm-1">
                        <h5>状态</h5>
                        <div class="form-group">
                            <select class="form-control" name="status">
                                <option value="">请选择</option>
                                <?php foreach($enum_status_arr as $k=>$v){?>
                                <option value="{$k}" <?php if($k==$_GET['status']){ echo 'selected';}?>>{$v}</option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
                        <?php if($_SESSION['role_id']==1){?>
                    <div class="col-sm-1">
                        <h5>所属客服</h5>
                        <div class="form-group">
                            <select class="form-control" name="aid">
                                <option value="">请选择</option>
                                <?php foreach($teacher_list as $v){?>
                                <option value="{$v['id']}" <?php if($v['id']==$_GET['aid']){ echo 'selected';}?>>{$v['name']}</option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
                        <?php }?>
                        <div class="col-lg-1">
                            <h5>开始时间</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" name="starttime" value="{$_GET['starttime']}" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',onpicked:null})">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <h5>结束时间</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lasttime" value="{$_GET['lasttime']}" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',onpicked:null})">
                            </div>
                        </div>
                    <?php }?>
                    <div class="col-lg-2">
                        <h5>操作</h5>
                        <div class="form-group">              
                            <?php if(empty($_GET['abc'])){?>
                            <button type="submit" class="btn btn-success">搜索</button>
                            <?php }else{?>
                            <button type="button" class="btn btn-success" onclick="javascript:history.back(-1)">返回</button>
                            <?php }?>
                            <button type="button" class="btn btn-danger" onclick="javascript:xxhongbao();">线下单红包</button>
                        </div>
                    </div>
                    </form>

                    <div class="col-lg-1">
                        <h5>变动金额统计</h5>
                        <div class="form-group">
                            {$tongji}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>所属客服</td>
                <td>订单号</td>
                <td>任务ID</td>
                <td>金额</td>
                <td>状态</td>
                <td>类型</td>
                <td>店铺名</td>
                <td>回调备注</td>
                <td>发放对象</td>
                <td>微信号</td>
                <td>时间</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
                <?php
                use app\common\model\ShopModel;
                use app\common\model\OrderModel;
                use app\common\model\HongbaoModel;
                foreach($lists as $v){
                $status_name = HongbaoModel::enum_status_text($v['status']);
                $type_name = HongbaoModel::enum_type_text($v['type']);
                if($v['type']==1){
                $shop_name = HongbaoModel::hbshopname($v['order_id']);
                }else{
                $shop_name = $v['shop_name'];
                }
                ?>
                <tr>
                    <td>{$v['name']}</td>
                    <td>{$v['hbnum']}</td>
                    <td>{$v['order_id']}</td>
                    <td>{$v['orprice']}</td>
                    <td>{$status_name}</td>
                    <td>{$type_name}</td>
                    <td>{$shop_name}</td>
                    <td>{$v['remark']}</td>
                    <td><img src="{$v['headimgurl']}" style="width:80px;border-radius: 80px;" /> <br />{$v.nickname}</td>
                    <td>{$v['weixin']}</td>
                    <td><?php echo date('Y-m-d H:i:s',$v['intime']);?></td>
                    <td>
                        <?php if($v['type']==2) {?>
                        <a href="javascript:;" onclick="javascript:code({$v['id']});"><span class="label label-success">二维码</span></a>
                        <?php }?>
                    </td>
                </tr>
                <?php }?>
            </tbody>
          </table>
        </div>
          {$page_show}
      </div>
    </div>
  </div>
</div>
    </div>

{include file="common/footer"/}
{include file="parent/xxhb"/}
<script src="/js/dateCalendar/WdatePicker.js"></script>
<script type="text/javascript">
    
</script>
<script type="text/javascript">
    function code(id){
        $("[name=id]").val(id);
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/admin/admin/find_hbcode.html',
            dataType:'json',
            data:{id:id},
            success:function(data)
            {
                if(data.code=='1'){
                    $("#tipBtn").click();
                    $("#tipText").html("<img src='"+data.msg+"' /><p style='color: #d2430f'>请点开二维码-长按图片-识别图中二维码-领取本用</p>");
                }else{
                    $("#editBtn10").click();
                }
            }
        });
    }
</script>

</body>
</html>

