<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><?php echo qtitle();?></title>
<link href="/css/root.css" rel="stylesheet">

</head>
<body>
{include file="common/header"/}
{include file="common/menu"/}
<style>.col-sm-3{padding-top:7px;}</style>
<div class="content">
    <div class="page-header">
        <h1 class="title">{$menu_name}</h1>
    </div>
    <div class="container-padding">
        <div class="row">
            <form action="/home.php/{$module}/{$control}/act_add.html" class="form-horizontal" method="post" id="dx_form" autocomplete="off" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="panel panel-default" style="padding-top:15px;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">商家手机号</label>
                            <div class="col-sm-3">{$find_merchant['mobile']}</div>
                            <label class="col-sm-2 control-label form-label">店铺</label>
                            <div class="col-sm-3">{$find_shop['name']}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">发布时间</label>
                            <div class="col-sm-3"><?php echo date("Y-m-d H:i:s",$find['intime']);?></div>
                            <label class="col-sm-2 control-label form-label">订单生效日期</label>
                            <div class="col-sm-3"><?php echo date("Y-m-d",$find['worktime']);?></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">任务本金</label>
                            <div class="col-sm-3">{$find['money']}</div>
                            <label class="col-sm-2 control-label form-label">数量</label>
                            <div class="col-sm-3">{$find['num']}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">服务费</label>
                            <div class="col-sm-3">{$find['without_money']}</div>
                            <label class="col-sm-2 control-label form-label">总金额</label>
                            <div class="col-sm-3">{$find['total_money']}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">权重类目号</label>
                            <div class="col-sm-3">{$cat_name}</div>
                            <label class="col-sm-2 control-label form-label">标签词</label>
                            <div class="col-sm-3">{$find['tags']}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">商品标题</label>
                            <div class="col-sm-3">{$find['goodstitle']}</div>
                            <label class="col-sm-2 control-label form-label">商品链接</label>
                            <div class="col-sm-3"><a href="{$find['goodsurl']}" target="_blank">{$find['goodsurl']}</a></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">商品主图</label>
                            <div class="col-sm-3">
                                <a href="javascript:;" onclick="javascript:imger('<?php echo urlencode($find['mainimage']);?>');"><img src="{$find['mainimage']}" style="height:100px;"></a>
                            </div>
                            <label class="col-sm-2 control-label form-label">拍下规格</label>
                            <div class="col-sm-3">
                                <?php if($find['isattr']==2){ echo '任意规格';}?>{$find['attrcolor']}&nbsp;{$find['attrsize']}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">付款方式</label>
                            <div class="col-sm-3">花呗付款：{$ishuabei_name}&nbsp;&nbsp;&nbsp;信用卡付款：{$iscredit_name}</div>
                            <label class="col-sm-2 control-label form-label">赠品</label>
                            <div class="col-sm-3">{$find['present']}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">Id</label>
                            <div class="col-sm-3">{$find['tasksn']}</div>
                            <!--<label class="col-sm-2 control-label form-label">付款时间</label>-->
                            <!--<div class="col-sm-3"><?php if($find['paytime']){ echo date("Y-m-d H:i:s",$find['paytime']);}?></div>-->
                            <label class="col-sm-2 control-label form-label">是否按时间段派单</label>
                            <div class="col-sm-3"><?php if($find['istime']==2){ echo '是';}else{echo '否';}?></div>
                        </div>
                        <?php if($find['istag']==2){?>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">竟品宝贝关键词：</label>
                            <div class="col-sm-3">{$find['tagkeyworks']}</div>
                            <label class="col-sm-2 control-label form-label">竟品宝贝链接：</label>
                            <div class="col-sm-3">{$find['tagurl']}</div>
                        </div>
                        <?php }?>
                        <?php
                        use app\common\model\ConfigModel;
                        foreach($taskdetail_list as $v){
                        $istalk_name = ConfigModel::enum_isnot_text($v['istalk']);
                        $isparity_name = ConfigModel::enum_isnot_text($v['isparity']);
                        $iscart_name = ConfigModel::enum_isnot_text($v['iscart']);
                        $iscollect_name = ConfigModel::enum_isnot_text($v['iscollect']);
                        $isfocus_name = ConfigModel::enum_isnot_text($v['isfocus']);
                        $isbrowseshop_name = ConfigModel::enum_isnot_text($v['isbrowseshop']);
                        $isbrowseinfo_name = ConfigModel::enum_isnot_text($v['isbrowseinfo']);
                        ?>
                        <div class="taskdetail">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">搜索关键词</label>
                            <div class="col-sm-3">{$v['searchkeywords']}</div>
                            <label class="col-sm-2 control-label form-label">下单实际价格</label>
                            <div class="col-sm-3">{$v['price']}*{$v['num']}单<?php if($v['priceremark']){ echo "(".$v['priceremark'].")";} ?></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">需要聊天</label>
                            <div class="col-sm-3">{$istalk_name}</div>
                            <label class="col-sm-2 control-label form-label">货比三家</label>
                            <div class="col-sm-3">{$isparity_name}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">加购物车</label>
                            <div class="col-sm-3">{$iscart_name}</div>
                            <label class="col-sm-2 control-label form-label">收藏宝贝</label>
                            <div class="col-sm-3">{$iscollect_name}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">关注店铺</label>
                            <div class="col-sm-3">{$isfocus_name}</div>
                            <label class="col-sm-2 control-label form-label">浏览店内两个宝贝以上</label>
                            <div class="col-sm-3">{$isbrowseshop_name}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">浏览详情到底5分钟以上</label>
                            <div class="col-sm-3">{$isbrowseinfo_name}</div>
                            <label class="col-sm-2 control-label form-label">其他要求</label>
                            <div class="col-sm-3">{$v['remark']}</div>
                        </div>
                            <?php if($find['istime']==2){?>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">8点领取单数</label>
                            <div class="col-sm-3">{$v['time8']}</div>
                            <label class="col-sm-2 control-label form-label">9点领取单数</label>
                            <div class="col-sm-3">{$v['time9']}</div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label form-label">10点领取单数</label>
                            <div class="col-sm-3">{$v['time10']}</div>
                            <label class="col-sm-2 control-label form-label">11点领取单数</label>
                            <div class="col-sm-3">{$v['time11']}</div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label form-label">12点领取单数</label>
                            <div class="col-sm-3">{$v['time12']}</div>
                            <label class="col-sm-2 control-label form-label">13点领取单数</label>
                            <div class="col-sm-3">{$v['time13']}</div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label form-label">14点领取单数</label>
                            <div class="col-sm-3">{$v['time14']}</div>
                            <label class="col-sm-2 control-label form-label">15点领取单数</label>
                            <div class="col-sm-3">{$v['time15']}</div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label form-label">16点领取单数</label>
                            <div class="col-sm-3">{$v['time16']}</div>
                            <label class="col-sm-2 control-label form-label">17点领取单数</label>
                            <div class="col-sm-3">{$v['time17']}</div>
                        </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label form-label">18点领取单数</label>
                            <div class="col-sm-3">{$v['time18']}</div>
                            <label class="col-sm-2 control-label form-label">19点领取单数</label>
                            <div class="col-sm-3">{$v['time19']}</div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label form-label">20点领取单数</label>
                            <div class="col-sm-3">{$v['time20']}</div>
                            <label class="col-sm-2 control-label form-label">21点领取单数</label>
                            <div class="col-sm-3">{$v['time21']}</div>
                        </div>
                            <?php }?>

                        </div>
                        <?php }?>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1)">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{include file="common/footer"/}
<script type="text/javascript">
    
</script>

</body>
</html>