<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信红包领取</title>
    <script type="text/javascript">
      window.onload = function(){
            //这个可以关闭安卓系统的手机
                 setTimeout(function() {
            document.addEventListener(
                    "WeixinJSBridgeReady",
                    function() {
                        WeixinJSBridge.call("closeWindow");
                    },
                    false
            );
            //这个可以关闭ios系统的手机
            WeixinJSBridge.call("closeWindow");
        },300)
        }
       // window.location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU4Mzg3NTEwMA==#wechat_redirect";

    </script>
</head>
<body>
<img src="/images/logo.jpg" style="width:100%;" />
</body>
</html>