<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><?php echo atitle();?></title>
<link href="/css/root.css" rel="stylesheet">
</head>
<body>
{include file="common/header"/}
{include file="common/menu"/}

<div class="content">
    <div class="page-header">
        <h1 class="title">{$menu_name}</h1>
    </div>
<div class="container-padding">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/home.php/{$module}/{$control}/bindlist.html" method="get" autocomplete="off">
                    <div class="col-lg-1">
                        <h5>店铺名</h5>
                        <div class="form-group">              
                            <input type="text" class="form-control" name="shop_name" value="{$_GET['shop_name']}">
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <h5>手机号</h5>
                        <div class="form-group">              
                            <input type="text" class="form-control" name="mobile" value="{$_GET['mobile']}">
                        </div>
                    </div>
                        <div class="col-lg-1">
                            <h5>绑定情况</h5>
                            <div class="form-group">
                                <select class="form-control" name="status1">
                                    <option value="">请选择</option>
                                    <option value="3" <?php if(3==$_GET['status1']){ echo 'selected';}?>>已绑定旺旺号</option>
                                    <option value="2" <?php if(2==$_GET['status1']){ echo 'selected';}?>>未绑定旺旺号</option>
                                </select>
                            </div>
                        </div>
                        <?php if($_SESSION['role_id']==1){?>
                        <div class="col-sm-1">
                            <h5>所属客服</h5>
                            <div class="form-group">
                                <select class="form-control" name="aid">
                                    <option value="">请选择</option>
                                    <?php foreach($server_list as $v){?>
                                    <option value="{$v['id']}" <?php if($v['id']==$_GET['aid']){ echo 'selected';}?>>{$v['name']}</option>
                                    <?php }?>
                                </select>
                            </div>
                        </div>
                       <?php }?>
                    <div class="col-lg-1">
                        <h5>旺旺号</h5>
                        <div class="form-group">              
                            <input type="text" class="form-control" name="wangwang" value="{$_GET['wangwang']}">
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <h5>任务编码</h5>
                        <div class="form-group">              
                            <input type="text" class="form-control" name="verifycode" value="{$_GET['verifycode']}">
                        </div>
                    </div>
                        <?php if($_SESSION['role_id']==1){?>
                        <div class="col-sm-1">
                            <h5>开始时间</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" name="starttime" value="{$_GET['starttime']}" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked:null})">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <h5>结束时间</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lasttime" value="{$_GET['lasttime']}" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked:null})">
                            </div>
                        </div>
                        <?php }?>
                    <div class="col-sm-2">
                        <h5>操作</h5>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">搜索 </button>
                            <button type="button" class="btn btn-primary" id="sub" <?php if(!empty($kefu)){ echo 'style="display:none"';}?>>领取今日单</button>
                            <!--<button type="button" class="btn btn-danger" id="sub2">领取明日单</button>-->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>领取单数{$count1} &nbsp; 完成单数{$count2} &nbsp; 异常单数{$count3}&nbsp;&nbsp; 退款单数{$tkcount}&nbsp;<span style="color:#f39c12;font-weight: bold"> 今日剩余单数{$count4} </span>&nbsp;  <?php if($_SESSION['role_id']==1){ echo '当前条件领取单数：'.$zongshu ;}?><span style="color:red;font-weight: bold"> <?php echo date("H");?>点可领取单数：<?php if($hourordernum >=0){echo $hourordernum;}else{echo '';}?> </span>&nbsp; </h5>
                        <div class="form-group"></div>
                    </div>
                    </form>
                    <div class="col-lg-5">
                        <h5>今日排名</h5>
                        <div class="form-group"><?php foreach($paiming as $k=>$pm){ $i=$k+1;echo'TOP'.$i.'--客服:'.$pm['name'].'--单数：'.$pm['ordernum'].'单'."<br />";} ?></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
                <tr>
                    <td>编码</td>
                    <td>订单日期</td>
                    <td>完成时间</td>
                    <td>店铺</td>
                    <td>主图</td>
                    <td>标签词</td>
                    <td>关键词</td>
                    <td>单价</td>
                    <td>实际下单价</td>
                    <td style="<?php if($_SESSION['role_id']==2|| $_SESSION['admin_id']==21){ echo 'display:none';}?>">服务费</td>
                    <td>佣金</td>
                    <td>红包金额</td>
                    <td>规格</td>
                    <td>旺旺号</td>
                    <td>备注</td>
                    <!--<td>类型</td>-->
                    <td>订单状态</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tbody">
                <?php
                use app\common\model\ShopModel;
                use app\common\model\TaskModel;
                use app\common\model\TaskdetailModel;
                use app\common\model\OrderModel;
                use app\common\model\HongbaoModel;
                foreach($lists as $v){
                $find_task = TaskModel::find("and id=".$v['task_id']);
                $find_taskdetail = TaskdetailModel::find("and id=".$v['taskdetail_id']);
                $find_shop = ShopModel::find("and id=".$v['shop_id']);
                $type_name = OrderModel::enum_type_text($v['type']);
                $task_status_name = TaskModel::enum_status_text($find_task['status']);
                $hongbaoarr = HongbaoModel::find("and order_id =".$v['id']);
                $status_name = '';
                if($v['type']==1){
                    $status_name = OrderModel::enum_status1_text($v['status1']);
                }
                if($v['type']==2){
                    $status_name = OrderModel::enum_status2_text($v['status2']);
                }
                if($v['type']==3){
                    $status_name = OrderModel::enum_status3_text($v['status3']);
                }
                $worktype_name = TaskModel::enum_worktype_text($find_task['worktype']);
                if(!empty($v['aid'])){
                    $find_server = AdminModel::find("and id=".$v['aid']);
                }
                $find_server['name'] = isset($find_server['name'])?$find_server['name']:'未领取';
                ?>
                <tr <?php if($v['status1']==3){echo 'style="color:#fd0137"';}?>>
                    <td ><span data-toggle="tooltip" title="客服：{$find_server['name']}">{$v['verifycode']}</span></td>
                    <td><?php echo date('Y-m-d H:i:s',$v['worktime']);?>  <br/> <?php if( $v['aidtime']!=''){ echo '(领取时间：'.date('Y-m-d H:i:s',$v['aidtime']).')';}?></td>
                    <td><?php if($v['finishtime']){ echo date('Y-m-d H:i:s',$v['finishtime']);}?></td>
                    <td>{$v['shop_name']}<br/>(旺旺号：{$find_shop['wangwang']})</td>
                    <td><a href="javascript:;" onclick="javascript:imger('<?php echo urlencode($find_task['mainimage']);?>');"><img src="{$find_task['mainimage']}" style="height:30px;"/></a></td>
                    <td style="color:#51b7a3;">{$find_task['tags']}<br /><span class="label label-default" style="cursor: pointer" onclick='copy("{$find_task['tags']}")'>复制</span></td>
                    <td><a href="{$find_task['goodsurl']}" target="_blank">{$find_taskdetail['searchkeywords']}</a><br /><span class="label label-default" style="cursor: pointer" onclick='copy("{$find_taskdetail['searchkeywords']}")'>复制</span></td>
                    <td>{$v['price']}</td>
                    <td rel="payprice" <?php if($v['price']!=$v['payprice']){echo 'style="color:#00e765"';}?>>
                        <span data-toggle="tooltip" title="{$find_taskdetail['priceremark']}">{$v['payprice']}</span>
                        <input type="text"  class="form-control" name="payprice" oid="{$v['id']}" value="{$v['payprice']}" style="display:none;">
                    </td>
                    <td style="<?php if($_SESSION['role_id']==2 || $_SESSION['admin_id']==21){ echo 'display:none';}?>">{$v['without_price']}</td>
                    <td rel="within_price">
                        <span>{$v['within_price']}</span>
                        <input type="text" class="form-control" name="within_price" oid="{$v['id']}" value="{$v['within_price']}" style="display:none;">
                    </td>
                    <td>{$hongbaoarr['orprice']}</td>
                    <td><?php if($find_task['isattr']==2){?>任意规格<?php }else{?><?php if($find_task['attrcolor']){?>颜色：{$find_task['attrcolor']}-<?php }?><?php if($find_task['attrsize']){?>尺码：{$find_task['attrsize']} <?php }}?></td>
                    <td rel="wang">
                        <span>{$v['wangwang']}</span>
                        <input type="text" class="form-control" name="wang" oid="{$v['id']}" value="{$v['wangwang']}" style="display:none;">
                    </td>
                    <td>{$v['remark']}</td>
                    <!--<td>{$type_name}</td>-->
                    <td>{$task_status_name}-{$status_name}</td>

                    <td>
                        <?php if($_SESSION['role_id']==2){?>
                        <a href="javascript:;" onclick="javascript:edit_aid({$v['id']});"><span class="label label-warning">退回</span></a>
                        <?php }?>
                        <a href="/home.php/{$module}/{$control}/view.html?id={$v['id']}"><span class="label label-info">详情</span></a>
                        <?php if($v['status1']==3){?>
                        <a href="javascript:;" onclick="javascript:edit_finish({$v['id']},{$v['payprice']},{$v['verifycode']},{$v['merchant_id']},{$v['within_price']});"><span class="label label-danger">结算</span></a>
                        <a href="javascript:;" onclick="javascript:edit_dabiao({$v['id']});"><span class="label label-default">打标</span></a>
                        <a href="javascript:;" onclick="javascript:edit_hongbao({$v['id']},{$v['payprice']+$v['within_price']});"><span class="label label-success">红包</span></a>
                        <?php }?>
                    </td>
                </tr>
                <?php }?>
            </tbody>
          </table>
        </div>
          {$page_show}
      </div>
    </div>
  </div>
</div>
    </div>

{include file="common/footer"/}
{include file="parent/hongbao"/}
<script src="/js/dateCalendar/WdatePicker.js"></script>
<script type="text/javascript">
    function edit_aid(id){
        if(confirm('确定操作吗!')){
            $.ajax({
                type:'POST',
                cache:false,
                url:'/home.php/{$module}/{$control}/act_edit_aid.html',
                dataType:'text',
                data:"id="+id,
                success:function(data){
                    if(data=='success'){
                        window.location.reload();
                    }else{
                        $("#tipBtn").click();
                        $("#tipText").html(data);
                    }
                }
            });
        }
    }
    $("#sub").on('click',function(){
        if(confirm('确定操作吗!')) {
            $("#sub").attr("style", 'display:none');
            setTimeout(function () {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    async: false,
                    url: '/home.php/{$module}/{$control}/act_pull.html',
                    dataType: 'text',
                    data: "cid=1",
                    success: function (data) {
//                $("#tipBtn").click();
//                $("#tipText").html(data);
                        alert(data);
//                setTimeout(function(){
                    window.location.reload();
//                },2000);
                    }
                });
            }, 1000);
        }
    });
    /*
//    $("#sub2").on('click',function(){
//        $.ajax({
//            type:'POST',
//            cache:false,
//            url:'/home.php/{$module}/{$control}/act_pull2.html',
//            dataType:'text',
//            data: "cid=1",
//            success:function(data)
//            {
//                $("#tipBtn").click();$("#tipText").html(data);
//                setTimeout(function(){
//                    window.location.reload();
//                },2000);
//            }
//        });
//    });
    */
    $("[rel=wang]").on('click',function(){
        $(this).children().first().hide();
        var wangwang = $(this).children().last().val();
        $(this).children().last().show().val('').focus().val(wangwang);
    });
    $("#tbody").on('blur','[name=wang]',function(){
        var id = $(this).attr("oid");
        var wangwang = $(this).val();
        var thiss = $(this);
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/{$module}/{$control}/act_edit_wangwang.html',
            dataType:'text',
            data:{id:id,wangwang:wangwang},
            success:function(data)
            {
//                console.log(data);
                if(data=='success'){
                    thiss.hide();
                    thiss.prev().html(wangwang).show();
                        window.location.reload();
                }else{
                    thiss.hide();
                    thiss.prev().html(wangwang).show();
                    $("#tipBtn").click();
                    $("#tipText").html(data);
                    setTimeout(function(){
                        window.location.reload();
                    },2000);
                }
            }
        });
    });
    $("[rel=payprice]").on('click',function(){
        $(this).children().first().hide();
        var payprice = $(this).children().last().val();
        $(this).children().last().show().val('').focus().val(payprice);
    });
    $("#tbody").on('blur','[name=payprice]',function(){
        var id = $(this).attr("oid");
        var payprice = $(this).val();
        var thiss = $(this);
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/{$module}/{$control}/act_edit_payprice.html',
            dataType:'text',
            data:"id="+id+"&payprice="+payprice,
            success:function(data)
            {
//                console.log(data);
                if(data=='success'){
                    thiss.hide();
                    thiss.prev().html(payprice).show();
                        window.location.reload();
                }else{
                    thiss.hide();
                    thiss.prev().html(payprice).show();
                    $("#tipBtn").click();
                    $("#tipText").html(data);
                    setTimeout(function(){
                        window.location.reload();
                    },2000);
                }
            }
        });
    });
    $("[rel=within_price]").on('click',function(){
        $(this).children().first().hide();
        var within_price = $(this).children().last().val();
        $(this).children().last().show().val('').focus().val(within_price);
    });
    $("#tbody").on('blur','[name=within_price]',function(){
        var id = $(this).attr("oid");
        var within_price = $(this).val();
        var thiss = $(this);
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/{$module}/{$control}/act_edit_within_price.html',
            dataType:'text',
            data:"id="+id+"&within_price="+within_price,
            success:function(data)
            {
//                console.log(data);
                if(data=='success'){
                    thiss.hide();
                    thiss.prev().html(within_price).show();
                        window.location.reload();
                }else{
                    thiss.hide();
                    thiss.prev().html(within_price).show();
                    $("#tipBtn").click();
                    $("#tipText").html(data);
                    setTimeout(function(){
                        window.location.reload();
                    },2000);
                }
            }
        });
    });
   function edit_dabiao(id) {
        $.ajax({
            type:'POST',
            cache:false,
            url:'/home.php/{$module}/{$control}/act_edit_dabiao.html',
            dataType:'text',
            data:"id="+id,
            success:function(data)
            {
//                console.log(data);
                if(data=='success'){
                    $("#tipBtn").click();
                    $("#tipText").html('打标成功');
                    setTimeout(function(){
                        window.location.reload();
                    },2000);
                }else{
                    $("#tipBtn").click();
                    $("#tipText").html(data);
                }
            }
        });
    }
    function copy(message) {
        var input = document.createElement("input");
        input.value = message;
        document.body.appendChild(input);
        input.select();
        input.setSelectionRange(0, input.value.length), document.execCommand('Copy');
        document.body.removeChild(input);
    }
    function edit_finish(id,payprice,verifycode,merchant_id,within_price){
        var zs=within_price+payprice;
        if(confirm("订单总费用："+zs+"元（本金+佣金），确定结算吗!")) {
            if ( payprice <= 0) {
                $("#tipBtn").click();
                $("#tipText").html("请填写实际下单价！");
               return ;
            }
            var toid=merchant_id;
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '/home.php/{$module}/{$control}/act_edit_finish.html',
                    dataType: 'text',
                    data: "id=" + id,
                    success: function (data) {
                        if (data == 'success') {
                            $("#tipBtn").click();
                            $("#tipText").html("结算成功");
                            //发送数据
                                var text="任务("+verifycode+")已下单结算完成";
                                var message = '{"type":"say","fromid":"'+fromid+'","toid":"'+toid+'","data":"'+text+'"}';
                                ws.send(message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        } else {
                            $("#tipBtn").click();
                            $("#tipText").html(data);
                        }
                    }
                });
            }

    }
    var fromid={$_SESSION['admin_id']};
    var toid=getUrlParam('toid');
    //创建websocket 对象
    var ws = new WebSocket("ws://127.0.0.1:8282");
    //从服务器收到消息时，该监听器将被调用
    ws.onmessage = function(e){
        var message = eval("("+e.data+")");
        switch (message.type){
            case 'init':
                var bind ='{"type":"bind","fromid":"'+fromid+'"}';
                ws.send(bind);
                return;
            case 'text':
                console.log(message.data);
                return;
            case 'save':
                save_message(message);
                return;
        }

    }

    //当连接关闭时，则触发
    ws.onclose = function(e) {
        console.log(e);
    };
    /**
     * GET取值,用于接受？传值 可接收汉字 推荐使用
     */
    function getUrlParam(name){
        // 用该属性获取页面 URL 地址从问号 (?) 开始的 URL（查询部分）
        var url = window.location.search;
        // 正则筛选地址栏
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        // 匹配目标参数
        var result = url.substr(1).match(reg);
        //返回参数值
        return result ? decodeURIComponent(result[2]) : null;
    }
    function save_message(message) {
        $.post(
                "/home.php/api/chat/save_message.html",
                message,
                function () {
                },'json'
        )
    }
    window.onload = function() {
//禁止F5刷新
        document.onkeydown = function (e) {
            if (e.keyCode === 116) {
                return false;
            }
        };
    }
</script>
</body>
</html>

