<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><?php echo atitle();?></title>
<link href="/css/root.css" rel="stylesheet">
</head>
<body>
{include file="common/header"/}
{include file="common/menu"/}

<div class="content">
    <?php if(empty($_GET['abc'])){?>
    <div class="page-header">
        <h1 class="title">{$menu_name}</h1>
    </div>
    <?php }?>
<div class="container-padding">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/home.php/{$module}/{$control}/lists.html" method="get" autocomplete="off">
                    <?php if(empty($_GET['abc'])){?>
                    <div class="col-lg-2">
                        <h5>商家Id</h5>
                        <div class="form-group">              
                            <input type="text" class="form-control" name="merchant_id" value="{$_GET['merchant_id']}">
                        </div>
                    </div>
                    <?php }?>
                    <div class="col-lg-2">
                        <h5>操作</h5>
                        <div class="form-group">              
                            <?php if(empty($_GET['abc'])){?>
                            <button type="submit" class="btn btn-success">搜索</button>
                            <?php }else{?>
                            <button type="button" class="btn btn-success" onclick="javascript:history.back(-1)">返回</button>
                            <?php }?>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td width="60">Id</td>
                <td>商家手机号</td>
                <td>价格区间</td>
                <td>服务费</td>
                <td>添加时间</td>
                <td>更新时间</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
                <?php
                use app\common\model\MerchantModel;
                foreach($lists as $v){
                $find_merchant = MerchantModel::find("and id=".$v['merchant_id']);
                ?>
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$find_merchant['mobile']}</td>
                    <td>{$v['start']}元-{$v['end']}元</td>
                    <td>{$v['price']}</td>
                    <td><?php echo date('Y-m-d H:i:s',$v['intime']);?></td>
                    <td><?php echo date('Y-m-d H:i:s',$v['uptime']);?></td>
                    <td>
                        <a href="/home.php/{$module}/{$control}/edit.html?id={$v['id']}"><span class="label label-primary">编辑</span></a>
                    </td>
                </tr>
                <?php }?>
            </tbody>
          </table>
        </div>
          {$page_show}
      </div>
    </div>
  </div>
</div>
    </div>

{include file="common/footer"/}

<script type="text/javascript">
    
</script>

</body>
</html>

